@font-face {
    font-family: 'Modern Sans';
    src: url('ModernSansLight.eot');
    src: url('ModernSansLight.eot?#iefix') format('embedded-opentype'),
        url('ModernSansLight.woff2') format('woff2'),
        url('ModernSansLight.woff') format('woff'),
        url('ModernSansLight.ttf') format('truetype'),
        url('ModernSansLight.svg#ModernSansLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

