@media all and (max-width: 600px){
    .fullscreen .bloques-carac .img-carac img, #features-assist .bloques-carac .img-carac img{
        max-width: 40px;
        max-height: 40px;
    }

    .fullscreen .bloques-carac{
        font-size: 0.75em;
        width: 18%;
    }

    #detalles-trazos .img-carac img{
        max-width: 40px;
        max-height: 40px;
    }

    .imagenes img, .imagenes.youtube iframe{
        max-height: 240px;
    }

    #crea-la-tuya{
        height: 140px;
    }

    .bloque-bombers-mobile .btn-accion{
        width: 80%;
        padding: 2px 0;
    }

    .span-meses{
        font-size: 1.5em;
    }

    .bloque-sm .nuevo-img{
        max-width: 40px;
    }
    .bloque-sm .precio{
        font-size: 1.1em;
    }
    .hope-img {
        max-width: 280px;
    }

    .info-section .info-button {
        padding: 10px 10px;
    }
    #interior1-hope-head{
        text-align: center;
        width: 82%;
    }
    #interior2-hope-head{
        width: 100%;
    }
    
    .home-main-hidden{
        display: none;
    }
    
    #hope-head{
        background-position: top center;
    }
    
    .bottom-banner p {
        font-size: 2em;
    }

    .bottom-banner .boton-nosotros {
        font-size: 1.5em;
    }

}
